# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# checkpoint results
ckpt/
!ckpt/.gitkeep

# data
data/
!data/.gitkeep
!data/ex1.png
!data/ex2.png
!data/SIDD_clean_examples
!data/SIDD_ex1_noisy.png
!data/DND_ex1_noisy.png
results/

# for macOS
**/.DS_Store
