imutils==0.5.4
nodeenv==1.6.0
numpy==1.21.3
Pillow==8.4.0
platformdirs==2.4.0
pre-commit==2.15.0
PyYAML==6.0
six==1.16.0
toml==0.10.2
torch==1.10.0
torchvision==0.10.0
tqdm==4.62.3
typing-extensions==3.10.0.2
virtualenv==20.9.0
